Flask==3.0.3
Flask-Session
gunicorn
psycopg2-binary
python-dotenv
werkzeug
bcrypt
numpy
PyPDF2
pdfplumber
nltk
scikit-learn
requests
transformers
torch
protobuf==5.28.2
google-generativeai==0.8.4

